

body {
    background-color: green;
    margin: 0;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 8em !important;
    color: #efefef;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 6em !important;
    color: #efefef;
}

#hero-bg {
    background-image: url('assets/img/jonathan-kemper-unsplash.jpg');
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}

#hero-div {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: left;
}